xml/excursions.dtd

<!ELEMENT sortides (excursions*)>
<!ELEMENT excursions (nom, desti, imatge, descripcio, persones, dia, hora, preu)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT desti (#PCDATA)>
<!ELEMENT imatge (#PCDATA)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT persones (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT preu (#PCDATA)>


<!ATTLIST excursions id ID #REQUIRED>