xml/hotels.dtd

<!ELEMENT hotels (hotel)+>
<!ELEMENT hotel (nom,desti,descripcio,persones,dia,hora,preu)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT desti (#PCDATA)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT persones (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT preu (#PCDATA)>


<!ATTLIST hotel id CDATA #REQUIRED>